@use "@/common.scss";
main {
  border-bottom: 1px solid #fff;
}

.search-disease {
  white-space: nowrap;
  max-height: calc(100vh - 255px);
  table {
    width: 100%;
    line-height: 2;
    border-spacing: 0;
    thead {
      position: sticky;
      top: 0;
      border-top: 1px solid #fff;
      backdrop-filter: blur(10px);
    }
    tr {
      th {
        width: 120px;
        padding-left: 10px;
        font-weight: 500;
        text-align: left;
        vertical-align: bottom;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        &.th-disease {
          width: 100px;
        }
      }
      td {
        padding-left: 10px;
        border-bottom: 1px solid var(--white_20);
        &.th-disease {
          max-width: 100px;
        }
        &.td-gene,
        &.td-variant {
          padding-left: 10px;
        }
        > a {
          &:active {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
